:root {
  // fonts
  --font-primary: "Nunito", sans-serif;
  --font-secondary: "Arial", sans-serif;

  // colors
  --primary: #3f67b1;
  --secondary: #ebf0ff;
  --white: #fff;
  --dark-chocolate: #231f20;
  --error-color: #ff0000;
}
